*{
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 56em) {
    
}
.contentbox{
    background-color: #ccc;
    display: block;
    margin: 10px auto;
    border: 1px dashed #000;
    padding: 15px;
    color: #444;
}
.hero image img{
    width: 100%;
    height: 800px;
}
<<<<<<< HEAD
.background-image {
    background-image: url("images/hero.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }



=======
>>>>>>> cc35b456e5197fe5621fc202de68861993da7d24

.topnav {
  overflow: hidden;
  background-color: #333;
  min-height: 20vh;
    width: 100%;
}
.logo{
    height: 100px;
    display: block;
    float: right;
    padding: 30px;
    margin:auto;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: rgb(221, 221, 221);
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.bacground_images{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    
}
.bacground_images img{
    width: 50%;
    height: 1200px;
}
.layer{
    background: transparent;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.footer{
    background-color: #24262b;
    padding: 25px 0 ;
    text-align: center;
    margin-right: auto;
} 
.footer-col{
    width: 100%;
    padding:0 15px;
} 
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: absolute;
}
.footer-col p {
    color: #fff;
    font-size: 20px;
}
.footer-col ul{
    margin-bottom: 10px;
    color: #ffffff;
}
.footer-col ul {
    display: flex;
    width: 100%;
    color: #fff;
    margin-top: 20px;
}
.footer-col ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 0 20px;
}
.footer-col ul a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
footer h4 {
    color: #fff;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}